.characters-cards {
    .app {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        margin: 30px;
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card {
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            align-items: center;
            text-align: center;
            justify-content: space-around;
            min-height: 330px;
            border-radius: 5px;
            width: 250px;
            background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
            box-shadow: 4px 7px 13px 6px rgba(0, 0, 0, 0.641);
            transition: 0.3s;
            &:hover {
                background-image: linear-gradient(
                    to top,
                    #ff0844 0%,
                    #ffb199 100%
                );
                transform: scale(1.1);
                color: white;
                button {
                    color: white;
                    border: 1px solid white;
                }
            }

            button {
                padding: 15px 20px;
                border-radius: 50%;
                border: 3px solid rgba(128, 128, 128, 0.226);
                cursor: pointer;
                font-weight: 600;
                transition: 0.2s;
                background: transparent;
                color: grey;
                &:hover {
                    transform: scale(1.1);
                    background: rgb(253, 77, 77);
                    border: 1px solid white;
                    color: white;
                }
            }
            .id {
                font-size: 0.1rem;
                visibility: hidden;
            }
        }
    }
}
